---
title: News
description:
---
<ul style="list-style: none; padding: 0; margin: 0;">
    {% assign color = "#2b2b40" %}
    {% for item in site.data.news %}
    <li>
        {% if color == "#2b2b40" %}
            {% assign color = "#37B8FF" %}
        {% else %}
            {% assign color = "#2b2b40" %}
        {% endif %}
        <div class="news-item">
            <div class="news-date">
                <h2>{{ item.date }}</h2>
            </div>
            <p>{{ item.statement }}</p>
        </div>
    </li>
    {% endfor %}
</ul>