<script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
<script src="https://kit.fontawesome.com/1d40be1112.js" crossorigin="anonymous"></script>

<!-- Add contact button (see https://formspree.io/formbutton/docs) -->
<script>
    window.formbutton=window.formbutton||function(){(formbutton.q=formbutton.q||[]).push(arguments)};
    formbutton("create", {
        title: "Contact Us",
        description: "Send us a comment or question and we'll be in touch soon.",
        buttonImg: "<i class='fas fa-comment-alt' style='font-size: 24px;'/>",
        action: "{{ site.formspree }}",
        theme: "classic",
        onResponse: function(ok, setStatus) {
            if (ok) {
            setStatus("<p>Thanks for your message! We'll respond to the email address you supplied soon.</p></br><img src='/images/heart-solid.svg' style='width: 20px'></img><p>the pyiron team</p>");
            } else {
            setStatus("<span style='color:red'>Oops! There was a problem. Please check that you've entered a valid email address.</span>");
            }
        },
        fields: [{
        name: "name",
        type: "text",
        label: "Your Name",
        required: true,
        },
        {
        name: "email",
        type: "email",
        label: "Your Email",
        required: true
        },
        {
        name: "Message",
        type: "textarea"
        },
        {
        type: "submit"
        }],
        styles: {
        fontFamily:'"San Francisco", "Helvetica Neue", "Helvetica", "Arial"',
        button: {
            border: "2px solid {{ site.colors.main }}",
            background: "white",
            color: "{{ site.colors.main }}",
            boxShadow: "None",
        },
        title: {
            background: "white",
            color: "{{ site.colors.main }}",
            letterSpacing: "0.05em",
        },
        closeButton: {
            display: "None"
        }
        }
    });
</script>