<script src="{{ "/js/jquery-1.11.0.js" }}"></script>
<!-- Particle background stuff -->
<script src="{{ "/js/jquery.particleground.min.js" }}"></script>
<script>
    $(document).ready(function() {
        $('.particles-primary').particleground({
        minSpeedX: 0.1,
        maxSpeedX: 0.4,
        minSpeedY: 0.1,
        maxSpeedY: 0.4,
        // directionX:'center',// 'center', 'left' or 'right'. 'center' = dots bounce off edges
        // directionY:'center',// 'center', 'up' or 'down'. 'center' = dots bounce off edges
        density: 3000,// How many particles will be generated: one particle every n pixels
        dotColor: black,
        lineColor: black,
        particleRadius: 6,// Dot size
        lineWidth: 1,
        curvedLines:false,
        proximity: 100,// How close two dots need to be before they join
        parallax:false,
        //parallaxMultiplier: 5,// The lower the number, the more extreme the parallax effect
        onInit:function() {},
        onDestroy:function() {}
        });
    });
</script>