{% assign n_posts=0 %}
{% for post in include.posts %}
	{% assign n_posts = n_posts | plus: 1 %}
	<li class="blog-post" id="post-{{n_posts}}" data-categories="{{ post.categories }}">
		<a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
		<h3>
			{% assign first = true %}
			{% for author in post.authors %}
				{% if first != true %}
					| 
				{% endif %}
				{{ author }}
				{% assign first = false %}
			{% endfor %}
		</h3>
		<i class="info">{{ post.journal }}</i>
		{% include post-title.html post=post %}
		<div class="post-content">
			{% if post.full-text %}
				<div class="button"><a href="{{ post.full-text }}" target="_blank">Read the paper</a></div>
			{% endif %}
			{% if post.mybinder %}
				<a href="{{ post.mybinder }}" target="_blank">
					<img class="mybinder" src="https://mybinder.org/badge_logo.svg"/>
				</a>
			{% endif %}
		</div>
	</li>
{% endfor %}

<a class="post-loader" id="newer" onclick="n.decrease(); loadPosts(n.value);">Newer <i class="fa fa-arrow-right"></i></i></a>
<a class="post-loader" id="older" onclick="n.increase(); loadPosts(n.value);"><i class="fa fa-arrow-left"></i> Older</a>

<script>
	var n_posts = {{ n_posts }};
	var n_allowed = {{ site.posts-per-page }};

	var n = {
		value: 0,
		decrease: function () {
			if (this.value < n_allowed) {
				this.value = 0;
			} else {
				this.value -= n_allowed;
			}
		},
		increase: function() {
			if (this.value < n_posts - n_allowed) {
				this.value += n_allowed;
			}
		}
	};

	function loadPosts(i) {

		//  filter posts by category specified in url hash
		// e.g. pyiron.org/news/#category=releases
		var category = "";
		var posts_in_category = [];
		if (window.location.hash) {
			var hash = window.location.hash.substring(1);
			var category = hash.replace("category=", "");
		}
		for (j=1; j<=n_posts; j++) {
			if (category.length && !$("#post-"+j).attr("data-categories").includes(category)) {
				$("#post-"+j).hide();
			} else {
				posts_in_category.push(j);
			}
		}

		var n_newer_hidden = 0;
		var n_older_hidden = 0;

		for (j=0; j<posts_in_category.length; j++) {
			var postId = "#post-" + posts_in_category[j];
			if (j < i) {
				$(postId).hide();
				n_newer_hidden += 1;
			} else if (j > i+n_allowed-1) {
				$(postId).hide();
				n_older_hidden += 1;
			} else {
				$(postId).show();
			}
		};

		if (n_newer_hidden == 0) {
			$("#newer").hide();
		} else {
			$("#newer").show();
		}
		if (n_older_hidden == 0) {
			$("#older").hide();
		} else {
			$("#older").show();
		}

	};

	window.onload = function () {
		loadPosts(0);
	}
	window.onhashchange = function() {
		loadPosts(0);
	};
</script>
