{% assign n_posts=0 %}
{% assign news_icons = "releases, workshops, documentation, milestones" | split: ', ' %}

{% for post in include.posts %}
	{% assign n_posts = n_posts | plus: 1 %}
	<div id="post{{n_posts}}" class="news-card wide"
	{% if post.categories contains "news" and news_icons contains post.categories[1] %}
		style="background-image: url(/images/news-icon-{{ post.categories[1] }}.png)"
	{% else if post.categories contains "publications" %}
		style="background-image: url(/images/news-icon-documentation.png)"
	{% else %}
		style="background-image: url(/images/news-icon-default.png)"
	{% endif %}
		>
		<h3 style="color: {{ site.colors.main }}">{{ post.date | date: "%b %d, %Y"  }}</h3>
		<p>
		<a href="{{ post.url }}">
			{{ post.title }}
		</a>
			<div class="post-details">
				{% for category in post.categories %}
					{% if category != "news" and category != "publications" %}
						<span class="blog-filter">
							<a href="{{ site.baseurl }}/category/{{ category | slugify }}/">
								{{ category }}
							</a>
						</span>
					{% endif %}
				{% endfor %}
			</div>
		</p>
		{% if post.categories contains "publications" %}
		<div class="post-content">
			{% if post.full-text %}
				<div class="button"><a href="{{ post.full-text }}" target="_blank">Read the paper</a></div>
			{% endif %}
			{% if post.mybinder %}
				<div class="button">
					<a href="{{ post.mybinder }}" target="_blank">
						<img class="mybinder" src="https://mybinder.org/badge_logo.svg"/>
					</a>
				</div>
			{% endif %}
		</div>
	{% endif %}
	</div>
{% endfor %}

<a class="post-loader" id="newer" onclick="n.decrease(); loadPosts(n.value);">Newer <i class="fa fa-arrow-right"></i></i></a>
<a class="post-loader" id="older" onclick="n.increase(); loadPosts(n.value);"><i class="fa fa-arrow-left"></i> Older</a>

<script>
	var n_posts = {{ n_posts }};
	var n_allowed = {{ site.posts-per-page }};

	var n = {
		value: 0,
		decrease: function () {
			if (this.value < n_allowed) {
				this.value = 0;
			} else {
				this.value -= n_allowed;
			}
		},
		increase: function() {
			if (this.value < n_posts - n_allowed) {
				this.value += n_allowed;
			}
		}
	};

	function loadPosts(i) {
		if (i == 0) {
			$("#newer").hide();
		} else {
			$("#newer").show();
		}
		if (i >= n_posts - n_allowed) {
			$("#older").hide();
		} else {
			$("#older").show();
		}
		for (j=0; j<=n_posts; j++) {
			if (j <= i || j > i+n_allowed) {
				$("#post"+j).hide();
			} else {
				$("#post"+j).show();
			}
		};
	};

	loadPosts(0);
</script>