html {
	background: #2b2b40;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "San Francisco", "Helvetica Neue", "Helvetica", "Arial";
}

#condaBox {
	display: none;
}

.main-logo {
	height: 180px !important;
	width: 180px !important;
}

@media screen and (min-width: 450px) {
    #condaBox {
        display: block;
    }
}

code {
	font-size: 18px;
	background: rgba(255, 255, 255, 0.8);;
	color: #2b2b40;
	padding: 10px 15px;
	border-radius: 3px;
	overflow: scroll;
}

a {
	color: #00a4ca;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	width: 100%;
}

h1 strong, h2 strong {
	font-weight: 700;
}

h1 {
	font-weight: 300;
	font-size: 2.3em;
	margin: 0;
}

h2 {
	font-weight: 300;
	font-size: 2.2em;
	margin: 0 0 30px 0;
}

h3 {
	margin: 20px 0 10px 0;
}


p, address {
	font-size: 1.38em;
	color: $brand_color;
	margin-bottom: 20px;
	font-weight: 300;
	line-height: 1.4em;
}
