html {
	background: $main-color;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "San Francisco", "Helvetica Neue", "Helvetica", "Arial";
}

#condaBox {
	display: none;
}

.main-logo {
	height: 180px !important;
	width: 180px !important;
	padding-bottom: 40px;
}

@media screen and (min-width: 450px) {
    #condaBox {
        display: block;
    }
}

.inline {
	background: $main-color;
	color: white;
	line-height: 30px;
	padding: 1px 4px 1px 4px;
}

a {
	color: $secondary-color;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	cursor: pointer;
}

img {
	width: 100%;
}

h1 strong, h2 strong {
	font-weight: 700;
}

h1 {
	font-weight: 300;
	font-size: 2.3em;
	margin: 0;
}

h2 {
	font-weight: 300;
	font-size: 2.2em;
	margin: 0 0 30px 0;
}

h3 {
	margin: 20px 0 10px 0;
}

p, address {
	font-size: 1.38em;
	color: $main-color;
	margin-bottom: 20px;
	font-weight: 300;
	line-height: 1.4em;
}

.news-item {
	text-align: center;
	margin: 0;
	min-height: 50px;
	padding: 40px;

	.news-date {
		color: white;
		border-radius: 15px;
		background: $secondary-color;
		max-width: 220px;
		margin: 0 auto;
	}
}


/**
* Syntax highlighting styles
*/

code {
	font-family: $mono-font;
	font-size: $code-font-size;
	margin-right: 0px !important;
}

.feature {
	width: 100%;
	height: 100%;
}

.feature-icon {
	display: none;
}

@media (min-width: 750px) {
	.feature-icon {
		display: inline-block;
		top: -30px;
		width: 250px;
		height: 250px;
		position: relative;
		padding: 0px 20px;
	}
}

.overlay {
	background: rgba(255, 255, 255, 0.7);
}

.juniper-button {
	background: $secondary-color;
	color: white;
	border-radius: 10px 10px 0px 0px;
	padding: 8px 16px;
	border: none;
	position: absolute;
	top: -47px;
	right: 0px;
	transition: all 0.1s ease-in-out;

	&:hover {
		cursor: pointer;
		top: -50px;
		transition: all 0.1s ease-in-out;
	}

	&.running {
		background: $yellow;
		color: $main-color;
	}

	&.finished {
		background: $green;
		color: $main-color;
	}

	&.errored {
		background: $red;
		color: white;
	}

}

.juniper-cell {
	border: $main-color;
}

.juniper-input {
	margin: 10px 20px;
	overflow-x: scroll;
}

.juniper-output {
	background: white;
	color: $main-color;
	border: 2px solid $main-color;
	border-top: none;
	border-radius: 0px 0px 10px 10px;
	height: auto;
	min-height: 30px;
	max-height: 500px;
	overflow: scroll;
}

.CodeMirror {
	padding: 0px !important;
}

.cm-s-monokai {
	font-size: 1em;
	line-height: 1.5em;
	font-family: $mono-font;
	letter-spacing: 0.3px;
	word-spacing: 1px;
	background: $main-color;
	color: #F8F8F2;

	.CodeMirror-lines {
		padding: 8px 0;
	}
	.CodeMirror-gutters {
		box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
		-webkit-box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
		background-color: $main-color;
		padding-right: 10px;
		z-index: 3;
		border: none;
	}
	div.CodeMirror-cursor {
		border-left: 3px solid #F8F8F2;
	}
	.CodeMirror-activeline-background {
		background: #49483E;
	}
	.CodeMirror-selected {
		background: #49483E;
	}
	.cm-comment {
		color: white;
	}
	.cm-string {
		color: #E6DB74;
	}
	.cm-number {
		color: #66D9EF;
	}
	.cm-atom {
		color: #66D9EF;
	}
	.cm-keyword {
		color: #F92672;
	}
	.cm-variable {
		color: #A6E22E;
	}
	.cm-def {
		font-style: italic;
		color: #FD971F;
	}
	.cm-variable-2 {
		color: #F92672;
	}
	.cm-property {
		color: #66D9EF;
	}
	.cm-operator {
		color: #F92672;
	}
	.CodeMirror-linenumber {
		color: #75715E;
	}
}

pre {
	overflow-x: scroll;
}

.highlight + .highlight {
	margin-top: 40px;
}

div.highlight, figure.highlight {
	border: 2px solid white;
	color: $text;
	width: auto;
}

.highlight {

	pre {
		background: transparent;
	}

	.hll { background: $base; }
	.c  { color: $subtle; font-style: italic; }
	.err { color: $err; }
	.k  { color: $pink; }
	.l  { color: $yellow; }
	.n  { color: $text; }
	.o  { color: $pink; }
	.p  { color: $text; }
	.cm { color: $subtle; font-style: italic; }
	.cp { color: $subtle; font-style: italic; }
	.c1 { color: $subtle; font-style: italic; }
	.cs { color: $subtle; font-style: italic; }
	.ge { font-style: italic; }
	.gs { font-weight: 700; }
	.kc { color: $purple; }
	.kd { color: $blue; }
	.kn { color: $blue; }
	.kp { color: $blue; }
	.kr { color: $blue; }
	.kt { color: $blue; }
	.ld { color: $yellow; }
	.m  { color: $orange; }
	.s  { color: $yellow; }
	.na { color: $text; }
	.nb { color: $yellow; }
	.nc { color: $yellow; }
	.no { color: $yellow; }
	.nd { color: $yellow; }
	.ni { color: $yellow; }
	.ne { color: $yellow; }
	.nf { color: $text; }
	.nl { color: $yellow; }
	.nn { color: $text; }
	.nx { color: $text; }
	.py { color: $yellow; }
	.nt { color: $red; }
	.nv { color: $yellow; }
	.ow { font-weight: 700; }
	.w  { color: $highlight; }
	.mf { color: $orange; }
	.mh { color: $orange; }
	.mi { color: $orange; }
	.mo { color: $orange; }
	.sb { color: $yellow; }
	.sc { color: $yellow; }
	.sd { color: $yellow; }
	.s2 { color: $yellow; }
	.se { color: $purple; }
	.sh { color: $yellow; }
	.si { color: $yellow; }
	.sx { color: $yellow; }
	.sr { color: $pink; }
	.s1 { color: $yellow; }
	.ss { color: $blue; }
	.bp { color: $yellow; }
	.vc { color: $yellow; }
	.vg { color: $yellow; }
	.vi { color: $red; }
	.il { color: $orange; }
	.gu { color: $subtle; }
	.gd { color: $pink; }
	.gi { color: $green; }
}

figure.highlight {
	border-radius: 10px 0px 12px 12px;
	background: $main-color;
}

div.highlight {
	border-radius: 0px 10px 12px 12px;
	background: $main-color;

	pre {
		padding: 0px 25px;
		font-size: 1em;
		line-height: 1.5em;
		font-family: $mono-font;
		letter-spacing: 0.3px;
		word-spacing: 1px;
	}
}

div.highlight::before {
	color: white;
	font-family: "San Francisco", "Helvetica Neue", "Helvetica", "Arial";
	content: "</>";
	background: lighten($main-color, 10%);
	border: 2px solid white;
	border-radius: 10px 10px 0px 0px;
	padding: 6px 10px;
	display: inline-block;
	position: relative;
	float: left;
	top: -34px;
	left: -2px;
	overflow: show;
	text-align: right;
}

div.highlight.language-python::before {
	content: ".py";
}

div.highlight.language-sh::before {
	content: ".sh";
}

div.highlight.language-yaml::before {
	content: ".yml";
}

div.highlight.language-javascript::before {
	content: ".js";
}