.footer-links {
	width: 100%;
	margin: 10px;
	padding: 0;
	text-align: center;

	@media #{$tablet} {
		-webkit-flex: 1 0 180px;
		flex: 1 0 180px;
	}

	li {
		list-style: none;
		margin: 15px auto;

		@media #{$tablet} {
			max-width: 150px;
		}
		a {
			margin: 0 3px;
			padding: 6px 10px;
			&:hover {
				text-decoration: None;
				border-bottom: 1px solid rgba(255,255,255,.3);
				color: #fff;
			}
		}
	}
}

footer {
	padding: 50px 0 50px 0;
	font-size: 1.1em;
	position: relative;
	// background: $tertiary_brand_color;
	background: url("../images/background.svg");
	background-size: cover;
	color: #fff;

	.social {
		text-align: center;
	}

	.social-link {
		font-size: 24px;
		padding: 0px 10px 10px 10px;
		margin: 0 auto;
		border-bottom: 1px solid rgba(255,255,255,0);

		&:hover {
			text-decoration: None;
			border-bottom: 1px solid rgba(255,255,255,.3);
			color: #fff;			
		}
	}

	.copyright {
		font-size: .8em;
		margin: 0 auto;
		color: #fff !important;
		padding-top: 10px;
		
		@media #{$tablet} {
			text-align: center;
		}

	}
	
	&,
	a {
		color: #fff;
	}

	h2 {
		font-size: 1.4em;
		margin: 30px 0;
		color: #fff;
	}

	.footer-columns {
		@extend %flexbox;
		@include flex-flow(wrap);
		margin: -10px -10px 10px -10px;
	}

	a {
		text-decoration: none;

		&:hover {
			color: #fff;
		}
	}

	.legal-line {
		width: 100%;
		padding: 30px 0;
		margin: 0;
		background-color: #222527;

		a {
			font-weight: 600;
		}
	}
}
