.navigation {
	margin-top: 40px;
}

.bottom-cta {
	background: $secondary-color;
	color: #fff;
	text-align: center;
	margin: 0;
	padding: 100px 0;

	h2 {
		margin-bottom: 50px;
	}
}

.testimonial {
	background: #f5f5f5;
	margin: 0;
	padding: 100px 0;

	.testimonial-block {
		max-width: 750px;
		width: 98%;
		margin: 0 auto;

		@media #{$tablet} {
			@include flexbox;

			blockquote {
				-webkit-flex: 1;
				flex: 1;
			}
		}
	}
}

.hero {
	color: #ffffff;
	text-align: center;
	background: url("../images/background.svg");
	background-size: cover;
	background-attachment: fixed;
	padding-top: 50px;

	p {
		color: #fff;
	}
}

.alert {
	padding: 20px;
	background-color: white;
	color: $main-color;
	margin-bottom: 15px;
}
  
.closebtn {
	margin-left: 15px;
	color: $main-color;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
}

.container.homepage-feature {
    border-radius: 10px;
	background: #fff;
	padding: 40px;
	margin-bottom: 40px;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
	transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.news-card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
	transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
	padding: 14px 80px 18px 36px;
	margin: 10px auto;
	width: 60%;
	height: auto;
	background-repeat: no-repeat;
    background-position: right;
	background-size: 80px;
}

.news-card:hover{
	box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.news-card img{
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 100%;
}

.news-card.blog-post {
	padding-top: 40px;
	width: 80%;
	height: auto;
	background-size: 80px;
}

@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}
	}

	.news-card {
		width: 200px;
		height: 200px;
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}

.image {
	max-width: 400px;
	max-height: 400px;
}