---
layout: page
---
<div class="blog-post text-container">
	{% include post-title.html post=page %}

	<div class="post-content">
		{{ content }}
		{% if page.abstract %}
			<h3>Abstract</h3>
			<p class="abstract">{{ page.abstract }}</p>
		{% endif %}
		{% if page.full-text %}
			<div class="button"><a href="{{ page.full-text }}" target="_blank">Read the paper</a></div>
		{% endif %}
		{% if page.mybinder %}
			<a href="{{ page.mybinder }}" target="_blank">
				<img class="mybinder" src="https://mybinder.org/badge_logo.svg"/>
			</a>
		{% endif %}

		<div class="blog-navigation">
			{% if page.next_in_category.url %}
				<a class="prev" href="{% include relative-src.html src=page.next_in_category.url %}"><i class="fa fa-arrow-left"></i> {{ page.next_in_category.title }}</a>
			{% endif %}
			{% if page.previous_in_category.url %}
				<a class="next" href="{% include relative-src.html src=page.previous_in_category.url %}">{{ page.previous_in_category.title }} <i class="fa fa-arrow-right"></i></a>
			{% endif %}
		</div>

	</div>
</div>

{% if page.code %}
  {% include {{ page.code }} %}
{% endif %}

<script>
	// Create those little tabs on the upper right corners of
	// code snippets
	for (var i=0; i<$(".highlight").length; i++) {
		var codeBlock = $(".highlight")[i];
		var pre = $(codeBlock).find("pre").first();
		var code = $(pre).find("code").first();
		var syntax = $(code).attr("class");
		$(codeBlock).addClass(syntax);

		if (syntax == "language-python") {
			$(pre).attr({"data-executable": true});
		}
	}
</script>

<script>
	new Juniper({
		repo: "{{ page.mybinder }}".split("/").slice(5, 7).join("/"),
		theme: 'pyiron',
		isolateCells: false,
	})
</script>

<script>
	document.addEventListener('juniper', event => {
    if (event.detail.status == 'finished') {
		var div1 = $(event.target.activeElement).parent();
		var codeMirror = $(div1).parent();
		var juniperInput = $(codeMirror).parent();
		var juniperCell = $(juniperInput).parent();
		var juniperOutput = $(juniperCell).find(".juniper-output").first();
		$(juniperOutput).addClass("finished");

		var outputArea = $(juniperOutput).find(".jp-OutputArea").first();
		if (!$(outputArea).html()) {
			$(juniperOutput).addClass("collapsed");
		}
    }
})
</script>
